@import models._
@import views.helpers._

@(candidates: Seq[Candidate])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Messages("list.title")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body class="container">

        <h2>@Messages("list.title")</h2>

        @table(candidates)(
            headers = Seq("profile.name",
                "profile.initialContact",
                "status"),
            toRow = c => Seq(c.profile.name,
                    c.profile.initialContact.toString,
                    Messages(s"status.${c.status.toDisplayString}"))
        )

        <a href="http://localhost:9000/form-show">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("form.action")
            </button>
        </a>

    </body>
</html>
