@import models._
@import views.helpers._
@import views.html._

@(cForm: Form[Candidate])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Messages("form.title")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body class="container">

        <h2>@Messages("form.title")</h2>

        @implicitForm = @{cForm}
        @implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }
        @b3.form(controllers.routes.CandidateController.submitForm) {

            @fieldset("form.profile") {
                @text("profile.name")
                @text("profile.age")
                @text("profile.country")
                @checkbox("profile.euWorker")
                @text("profile.availability")
                @text("profile.initialContact")
                @text("profile.expectedSalary")
                @text("profile.ambition")
                @text("profile.travel")
            }

            @fieldset("form.contact") {
                @text("contact.email")
                @text("contact.skype")
                @text("contact.phone")
                @text("contact.codeRepo")
            }

            @fieldset("form.experience"){
                @text("experience.csEducation")
                @text("experience.commercial")
                @text("experience.consulting")
                @text("experience.java")
                @text("experience.scala")
                @text("experience.multipleLanguages")
                @text("experience.functional")
                @text("experience.designPatterns")
                @text("experience.concurrency")
                @text("experience.teamWorking")
                @text("experience.soloWorking")
                @text("experience.architectureAndDesign")
                @text("experience.teamLeading")
                @select("status", Status.displayValues)
            }

            @b3.submit('class -> "btn btn-default"){@Messages("form.submit")}

        }

    </body>
</html>