@import models._
@import views.helpers._

@(cForm: Form[Candidate])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Messages("form.title")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body class="container">

        <h2>@Messages("form.title")</h2>

        @implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }
        @b3.form(controllers.routes.CandidateController.submitForm) {

                <fieldset>
                    <legend>@Messages("form.profile")</legend>
                    @text(cForm, "profile.name")
                    @text(cForm, "profile.age")
                    @text(cForm, "profile.country")
                    @checkbox(cForm, "profile.euWorker")
                    @text(cForm, "profile.availability")
                    @text(cForm, "profile.initialContact")
                    @text(cForm, "profile.expectedSalary")
                    @text(cForm, "profile.ambition")
                    @text(cForm, "profile.travel")
                </fieldset>

                <fieldset>
                    <legend>@Messages("form.contact")</legend>
                    @text(cForm, "contact.email")
                    @text(cForm, "contact.skype")
                    @text(cForm, "contact.phone")
                    @text(cForm, "contact.codeRepo")
                </fieldset>

                <fieldset>
                    <legend>@Messages("form.experience")</legend>
                    @text(cForm, "experience.csEducation")
                    @text(cForm, "experience.commercial")
                    @text(cForm, "experience.consulting")
                    @text(cForm, "experience.java")
                    @text(cForm, "experience.scala")
                    @text(cForm, "experience.multipleLanguages")
                    @text(cForm, "experience.functional")
                    @text(cForm, "experience.designPatterns")
                    @text(cForm, "experience.concurrency")
                    @text(cForm, "experience.teamWorking")
                    @text(cForm, "experience.soloWorking")
                    @text(cForm, "experience.architectureAndDesign")
                    @text(cForm, "experience.teamLeading")
                    @select(cForm, "status", Status.displayValues)
                </fieldset>

                @b3.submit('class -> "btn btn-default"){@Messages("form.submit")}

            }

    </body>
</html>