@import models._

@(cForm: Form[Candidate])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload Page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body class="container">

        @helper.form(action = routes.CandidateController.upload, 'enctype -> "multipart/form-data") {
            <input type="file" name="file">
            <input type="submit" value="Upload" >
        }

    </body>
</html>
